.container {
  width: 100%;
  padding: 16px;
}


.titleLarge {
  background: -webkit-linear-gradient(0deg, #0F2027, #203A43, #5A8BA0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
